{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Здесь расположены статьи</h1>
    <p class="fs-5 text-body-secondary">Индивидуальная тема: разработка информационной системы для управления и анализа данных в области ресторанного бизнеса и обслуживания клиентов в компании "ГастроМастер".</p>
    <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="33%" y="50%" fill="#eceeef" dy=".3em">Изображение статьи</text></svg>
            <div class="card-body">
              <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже. Здесь можно написать всё что угодно, даже свою биографию.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}